<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<div th:fragment="Menu" style="position: fixed; z-index:10; width: 100%">
    <div class="pos-f-t">
        <div  class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <span class="text-muted">
            <div class="links">
            <a href="/" style="margin-right: 10px">Home<i class="fa fa-home" aria-hidden="true"></i></a>
            <a href="/showShips" style="margin-right: 10px">Schiffe <i class="fa fa-ship"></i></a>
            <a href="/warehouse" style="margin-right: 10px">Lager <i class="fa fa-university"></i></a>
            <a href="/production" style="margin-right: 10px">Produktion <i aria-hidden="true" class="fa fa-tasks"></i></a>
            <a href="/sales" style="margin-right: 10px">Kundenbestellung <i class="fa fa-shopping-basket"></i></a>
            <a href="/marketing" style="margin-right: 10px">Marketing <i class="fa fa-arrow-up"></i></a>
            <a href="/deliveries?idSent=none" style="margin-right: 10px">Lieferungen  <i class="fa fa-envelope"></i></a>
            <a href="/masterData" style="margin-right: 10px">Stammdaten  <i class="fa fa-database"></i></a>
            <a href="/refresh" style="margin-left: 420px "> Refresh <i class="fa fa-refresh"></i></a>


            </div>
            </span>
            </div>
        </div>
        <div style="position: fixed;z-index:10; width: 100%">
        <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
                    aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>
</div>
</div>
</html>