<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lieferungen</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
          integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <style>
        a {
            color: aliceblue;
        }

        a:hover {
            color: darkgray;
            border-top: 3px solid aliceblue;
            padding-top: 5px;
            text-decoration: none;
        }
    </style>
</head>
<body>
<div>
    <div th:replace="fragments/menu :: Menu"></div>
</div>
<div class="container">
    <br>
    <h1>Lieferungen</h1>
    <br>
    <br>
    <div style=" overflow-y: scroll;height:550px; width:500px" class="">
        <table id="tblDeliveries" class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Date</th>
                <th>Sent Deliveries</th>
                <th>Received Deliveries</th>
            </tr>
            </thead>

            <th:block th:each="bd : ${businessDays}">
                <tr>
                    <td th:text="${bd.getDate()}"></td>
                    <th:block th:each="lo : ${bd.getSentDeliveries()}">

                    <td>
                        <a th:href="@{${deliveries}(idSent=${lo.getId()})}" class="btn btn-warning" th:text="${lo.getId()}"></a>
                    </td>
                    </th:block>
                    <th:block th:each="lo : ${bd.getReceivedDeliveries()}">
                    <td>
                        <a th:href="@{${deliveries}(idRecived=${lo.getId()})}" class="btn btn-danger" th:text="${lo.getId()}"></a>
                    </td>
                    </th:block>
                </tr>
            </th:block>
        </table>
    </div>
</div>
<div th:replace="fragments/scripts :: script"></div>
</body>
</html>