<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <span class="text-muted">
        <div class="links">
        <a class="headerHref" href="/">Home</a>
        <a class="headerHref" href="/showShips">Schiffe</a>
        <a class="headerHref" href="/warehouse">Lager</a>
        <a class="headerHref" href="/production">Produktion</a>
        <a class="headerHref" href="/sales">Kundenbestellung</a>
        <a class="headerHref" href="/marketing">Marketing</a>
        <a class="headerHref" href="/masterData">Stammdaten</a>
        <a class="headerHref" href="/">Lieferungen</a>


        </div>
        </span>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
                aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</div>



<style>
    a{
        color: aliceblue;
    }
    a:hover{
        color: darkgray;
    }

</style>