<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
      integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" href="~/lib/Font-Awesome/css/fontawesome.min.css">
<link rel="stylesheet" href="~/lib/Font-Awesome/css/regular.min.css">
<link rel="stylesheet" href="~/lib/Font-Awesome/css/solid.min.css">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<div th:fragment="Menu" style="position: fixed; z-index:10; width: 100%">
    <div class="pos-f-t">


        <div class="links">
            <a href="/" class="btn btn-info">Home<i class="fa fa-bar-chart" aria-hidden="true" data-th-bgcolor="blue"></i></a>
            <a href="/showShips" class="btn btn-info">Schiffe</a>
            <a href="/warehouse" class="btn btn-info">Lager <i class=""></i></a>
            <a href="/production" class="btn btn-info">Produktion<i aria-hidden="true"></i></a>
            <a href="/sales" class="btn btn-info">Kundenbestellung</a>
            <a href="/marketing" class="btn btn-info">Marketingaktion</a>
            <a href="/deliveries?idSent=none" class="btn btn-info">Lieferungen</a>
            <a href="/masterData" class="btn btn-info">Stammdaten</a>
            <a href="/bikechart" class="btn btn-info"> Fahrrad Statistik<i class="fa fa-bar-chart" aria-hidden="true"></i></a>
            <a href="/warehousechart" class="btn btn-info"> Lager Statistik<i class="fa fa-bar-chart"></i></a>
            <a href="/refresh" class="btn btn-info">
                <i class="fa fa-refresh"></i></a>


        </div>
        </span>


    </div>
</div>
</html>

<style>
    a{
        color: aliceblue;
    }
    a:hover{
        color: darkgray;
    }

</style>