<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
          integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <style>
        a{
            color: aliceblue;
        }
        a:hover{
            color: darkgray;
        }

    </style>
</head>
<body>

<div>
    <div th:replace="fragments/menu :: Menu"></div>
</div>


<div class="container">
    <br>
    <br>
    <h1>Main Menu</h1>
    <br>
    <p>Provisorische Startseite Seerrooo's HTML Tutorials visist www.serro.com</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a class="btn btn-warning" href="/showShips">Schiffe</a>
    <a class="btn btn-warning" href="/warehouse">Warehouse</a>
    <a class="btn btn-warning" href="/production">Production</a>
    <a class="btn btn-warning" href="/sales">Kundenbestellung</a>
    <a class="btn btn-warning" href="/deliveries">Lieferungen</a>


</div>
<div th:replace="fragments/scripts :: script"></div>
</body>
</html>