<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
          integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <style>
        a {
            color: aliceblue;
        }


        a:hover {
            color: darkgray;
            border-top: 3px solid aliceblue;
            padding-top: 5px;
            text-decoration: none;
        }
    </style>
</head>
<body>

<div>
    <div class="headerHref" th:replace="fragments/menu :: Menu"></div>
</div>
<br>
<br>

<div class="container">
    <br>
    <br>
    <h1 style="border-bottom: 3px solid;">Produktionsplanung</h1>
    <br>
    <h2 style="border-bottom: 2px solid;" >Home</h2>
    <br>
    <br>

    <a class="btn btn-dark" href="/showShips">Schiffe <i class="fa fa-ship"></i></a>
    <a class="btn btn-dark" href="/warehouse">Lager <i class="fa fa-university"></i></a>
    <a class="btn btn-dark" href="/production">Produktion <i aria-hidden="true" class="fa fa-tasks"></i></a>
    <a class="btn btn-dark" href="/sales">Kundenbestellung <i class="fa fa-shopping-basket"></i></a>
    <a class="btn btn-dark" href="/sales">Marketing <i class="fa fa-arrow-up"></i></a>
    <a class="btn btn-dark" href="/deliveries?idSent=none">Lieferungen <i class="fa fa-envelope"></i></a>
    <a class="btn btn-dark" href="/masterData">Stammdaten <i class="fa fa-database"></i></a>


</div>
<div th:replace="fragments/scripts :: script"></div>
</body>
</html>