<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head xmlns:th="http://www.w3.org/1999/xhtml">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
          integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/Font-Awesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/lib/Font-Awesome/css/regular.min.css">
    <link rel="stylesheet" href="~/lib/Font-Awesome/css/solid.min.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
          integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <meta charset="UTF-8">
</head>
<body>
<center>
    <div>
        <div th:replace="fragments/menu :: Menu"></div>
    </div>
    <br>
    <br>
    <div class="container">
        <!DOCTYPE html>
        <html>
        <head>
            <style>
                table {
                    font-family: arial, sans-serif;
                    border-collapse: collapse;
                    width: 100%;
                }

                td, th {
                    border: 1px solid #dddddd;
                    text-align: left;
                    padding: 8px;
                }

                tr:nth-child(even) {
                    background-color: #dddddd;
                }
            </style>
        </head>
        <body>
        <br>
        <h2>Stücklisten</h2>
        <br>
        <br>

        <table>
            <tr>
                <th>Fahrradtyp</th>
                <th>MTB Allrounder</th>
                <th>MTB Competition</th>
                <th>MTB Downhill</th>
                <th>MTB Extreme</th>
                <th>MTB Freeride</th>
                <th>MTB Marathon</th>
                <th>MTB Performace</th>
                <th>MTB Trail</th>
            </tr>
            <tr>
                <td>Gabel</td>
                <td>Rock Schox Reba</td>
                <td>Fox Talas 140</td>
                <td>Rock Schox Recon 351</td>
                <td>Fox 32 F100</td>
                <td>Fox 32 F80</td>
                <td>Rock Schox Recon SL</td>
                <td>Fox 32 F100</td>
                <td>SR Suntour Raidon</td>

            </tr>
            <tr>
                <td>Sattel</td>
                <td>Spark</td>
                <td>Speedline</td>
                <td>Fizik Tundra</td>
                <td>Fizik Tundra</td>
                <td>Fizik Tundra</td>
                <td>Raceline</td>
                <td>Fizik Tundra</td>
                <td>Speedline</td>

            </tr>
            <tr>
                <td>Rahmen</td>
                <td>Aluminium 7005DB</td>
                <td>Carbon Monocoque</td>
                <td>Aluminium 7005TB</td>
                <td>Carbon Monocoque</td>
                <td>Aluminium 7005TB</td>
                <td>Aluminium 7005TB</td>
                <td>Aluminium 7005TB</td>
                <td>Carbon Monocoque</td>

            </tr>
        </table>

        </body>
        </html>



        <div th:replace="fragments/scripts :: script"></div>
    </div>
</center>
</body>