<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
          integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Marketing</title>

    <style>
        a{
            color: aliceblue;
        }
        a:hover{
            color: darkgray;
        }

        .smallerDiv {
            float: left;
            margin: auto;
            padding: 20px;
            width: 45%;
    }</style>
</head>
<body>
<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <span class="text-muted">
        <div class="links">
        <a href="/">Home</a>
        <a href="/showShips">Schiffe</a>
        <a href="/warehouse">Warehouse</a>
        <a href="/production">Production</a>
        <a href="/sales">Kundenbestellung</a>
        <a href="/marketing">Marketing</a>
        <a href="/">Lieferungen</a>
        </div>
        </span>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
                aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</div>
<div class="container">
    <br>
    <h1>Marketing Nachfrage erhöhen</h1>
    <br>


    <div class="smallerDiv container">
        <form method="POST" th:action="@{/marketing}" th:object="${marketingRequest}">
            <div class="form-group form-control-sm">
                <label>Eintragungsdatum:</label>
                <input class="form-control" type="date" th:field="*{placementDate}" required/>
                <br>
                <label>Woche:</label>
                <input class="form-control" type="number" th:field="*{businessWeek}" required/>

                <br>
                    <span th:each="bike: ${bikes}">
                        <span th:utext="${bike.name}">:</span>
                        <input class="form-control" type="number" th:field="*{bikeMap[__${bike.name}__]}" required/>
                         <br>
                    </span>

                <button class="btn btn-primary" type="submit" name="submit" value="value">Nachfrage erhöhen</button>
            </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"
            integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp"
            crossorigin="anonymous"></script>
</div>
</body>
</html>