<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
          integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Stammdaten</title>

    <style>
        a {
            color: aliceblue;
        }

        a:hover {
            color: darkgray;
            border-top: 3px solid aliceblue;
            padding-top: 5px;
            text-decoration: none;
        }
        .smallerDiv {
            float: left;
            margin: auto;
            padding: 20px;
            width: 30%;
        }
    </style>
</head>
<body>
<div>
    <div th:replace="fragments/menu :: Menu"></div>
</div>

<div class="container">


    <br>
    <h1>Stammdaten verändern</h1>
    <br>


    <div class="smallerDiv">
        <form method="POST" th:action="@{/postMonthValues}" th:object="${masterDataRequest}">
            <span th:each="month:${months}">
                    <br>
                    <td th:text="${month}"></td>
                    <br>
                    <input class="form-control" type="number" step="0.01"
                           th:field="*{monthProductionShares[__${month}__]}" required/>
                </span>
            <br>
            <button class="btn btn-primary" type="submit" name="submit" value="value">Monate ändern</button>
        </form>
    </div>
    <div class="smallerDiv">
        <form method="POST" th:action="@{/postBikeValues}" th:object="${masterDataRequest}">
                <span th:each="bike:${bikes}">
                    <br>
                    <td th:text="${bike.name}"></td>
                    <br>
                    <input class="form-control" type="number" step="0.01"
                           th:field="*{bikeProductionShares[__${bike.name}__]}" required/>
                </span>
            <br>
            <button class="btn btn-primary" type="submit" name="submit" value="value">Bikes ändern</button>
        </form>
    </div>
    <div class="smallerDiv">
        <form method="POST" th:action="@{/postProductionValues}" th:object="${masterDataRequest}">
            <br>
            Current yearly production:
            <td th:text="${yearlyProduction}"></td>
            <input class="form-control" type="number" th:field="*{yearlyCapacity}" required/>
            <br>
            Current hourly capacity:
            <td th:text="${hourlyCapacity}"></td>
            <input class="form-control" type="number" th:field="*{hourlyCapacity}" required/>
            <br>
            <button class="btn btn-primary" type="submit" name="submit" value="value">Produktionsvorgaben ändern
            </button>
        </form>
    </div>
</div>

<div th:replace="fragments/scripts :: script"></div>
</div>
</body>
</html>