<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
          integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Stammdaten</title>

    <style>
        a {
            color: aliceblue;
        }

        a:hover {
            color: darkgray;
        }

        .smallerDiv {
            float: left;
            margin: auto;
            padding: 20px;
            width: 45%;
        }</style>
</head>
<body>
<div>
    <div th:replace="fragments/menu :: Menu"></div>
</div>
<div class="container">
    <br>
    <h1>Stammdaten verändern</h1>
    <br>


    <div class="container">
        <form method="POST" th:action="@{/postProductionValues}" th:object="${masterDataRequest}">
            <div class="form-group form-control-sm">
                <br>
                <label>Yearly:</label>
                <p>Current yearly production: =
                <td th:text="${yearlyProduction}"></td>
                </p>
                <input class="form-control" type="number" th:field="*{yearlyCapacity}" required/>
                <label>Hourly:</label>
                <p>Current hourly capacity =
                <td th:text="${hourlyCapacity}"></td>
                </p>
                <input class="form-control" type="number" th:field="*{hourlyCapacity}" required/>
                <button class="btn btn-primary" type="submit" name="submit" value="value">Produktionsvorgaben ändern
                </button>

            </div>
        </form>
        <div>
            <form method="POST" th:action="@{/postBikeValues}" th:object="${masterDataRequest}">
                <div class="form-group form-control-sm">

                <span th:each="bike:${bikes}">
                    <br>
                    <td th:text="${bike.name}"></td>
                    <br>
                    <input class="form-control" type="number" step="0.01"
                           th:field="*{bikeProductionShares[__${bike.name}__]}" required/>
                </span>
                    <br>
                    <button class="btn btn-primary" type="submit" name="submit" value="value">Bikes ändern</button>
                    <br>
                    <br>
                </div>
            </form>
        </div>
    </div>
    <div th:replace="fragments/scripts :: script"></div>
</div>
</body>
</html>