<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
          integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <style>
        #trDate{
            border-bottom:1px solid;
        }
        #trDate{
            font-size: 1.5em;
        }
        #trBikes{
            font-family: "Times New Roman";
            border: 1px solid black;
        }
        .tdClass  {
            border-right: 1px solid black;
            border-left: 1px solid black;
        }
        #tdChange{
            border-bottom: 1px solid black;
        }

    </style>
    <meta charset="UTF-8">
    <title>Produktion</title>
</head>
<body>

<h1>Produktion</h1>
<div class ="produktion">
    <table id="tblProduction" class="table-striped">

    <th:block th:each="bd : ${businessDays}">
        <tr id="trDate">
            <td></td>
            <td></td>
            <td><th th:text="${bd.getDate()}"></th> </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr id="trBikes">
            <th class="tdClass" th:each="planned : ${bd.getPlannedProduction().entrySet()}">
                <span id="bikes" th:text="${planned.key.getName()}"></span>
            </th>
        </tr>
            <td class="tdClass" th:each="planned : ${bd.getPlannedProduction().entrySet()}">
                <span>  Planned : </span>
                <span th:text="${planned.getValue()}"></span>
            </td>
        <tr >
            <td class="tdClass" th:each="actual : ${bd.getActualProduction().entrySet()}">
                <span>  Actual : </span>
                <span th:text="${actual.getValue()}"></span>
            </td>
        </tr>
        <tr>
            <td class="tdClass" id="tdChange" th:each="additional : ${bd.getAdditionalProduction().entrySet()}">
                <div th:if="${additional.getValue() == 0}" style="color:black">
                    <span> Change : </span>
                    <span th:text="${additional.getValue()}"></span>
                </div>
                <div th:if="${additional.getValue() < 0}" style="color:red">
                    <span> Change : </span>
                    <span th:text="${additional.getValue()}"></span>
                </div>
                <div  th:if="${additional.getValue() > 0}" style="color:green">
                    <span> Change : </span>
                    <span th:text="${additional.getValue()}"></span>
                </div>
            </td>
        </tr>
    </th:block>

</table>
</div>
</body>
</html>