<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
          integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <style>
        #warehouseDiv {
            font-family: "Times New Roman";
        }
        #tblWareHouse th, td {
            white-space: nowrap;
        }
        .smallerDiv {
            float: left;
            margin: auto;
            padding: 2px;
            width: 35%;
        }
        a{
            color: aliceblue;
        }
        a:hover {
            color: darkgray;
            border-top: 3px solid aliceblue;
            padding-top: 5px;
            text-decoration: none;
        }
        #btnSave{
            width:100px;
        }

    </style>
    <meta charset="UTF-8">
    <title>Warehouse</title>
</head>
<body>
<div>
    <div th:replace="fragments/menu :: Menu"></div>
</div>
<br>
<br>


<br>
<h1>Produktion</h1>
<div id="warehouseDiv" style="overflow-y: scroll;">
    <table id="tblWareHouse" class="table table-striped table-bordered table-sm" cellspacing="0"
           width="100%" border="1">
        <tr>
            <th>Woche</th>
            <span th:each="week: ${businessWeeks}" >

                <td th:utext="|${week.getCalendarWeek()}|" th:colspan="${week.days.size()}"></td>
            </span>
        </tr>
        <tr>
            <th>Datum</th>
            <td th:each="bd: ${businessDays}">
                <p th:each="entry: ${bd.getWorkingDays()}">
                        <span th:if="${entry.getKey() == T(de.adventureworks.produktionsplanung.model.entities.external.Country).GERMANY}">
                                <span th:if="${entry.getValue()}">
                                    <span style="color:red" th:utext="${bd.getDate()}"></span>
                                </span>
                                <span th:unless="${entry.getValue()}">
                                    <span style="color:black" th:utext="${bd.getDate()}"></span>
                                </span>
                        </span>

                </p>

            </td>
        </tr>

        <span th:each="bike: ${bikes}">
            <tr>
                <th>
                    <span th:utext="${bike.name}"></span>
                </th>
            </tr>
            <tr>
                <td>Planproduktion</td>
                <td th:each="bd2: ${businessDays}">
                    <span th:utext="|${bd2.plannedProduction.get(bike)}|"></span>
                </td>
            </tr>
            <tr>
                <td>Istproduktion</td>
                <td th:each="bd2: ${businessDays}">
                    <span th:utext="|${bd2.actualProduction.get(bike)}|"></span>
                </td>
            </tr>
            <tr>
                <td>Fehlbetrag</td>
                <td th:each="bd2: ${businessDays}">
                    <span th:utext="|${bd2.getPlannedMinusActualProduction().get(bike)}|"></span>
                </td>
            </tr>

        </span>

        <tr>
            <th>Schicht</th>
            <span th:each="week: ${businessWeeks}" >

                <td th:utext="|${week.getWorkingHours() + ' Stunden'}|" th:colspan="${week.days.size()}"></td>
            </span>
        </tr>

        <tr>
            <td>Summe Planproduktion</td>
            <span th:each="day: ${businessDays}" >
                <td th:utext="${day.getSumOfPlannedDailyProduction()}"></td>
            </span>
        </tr>

        <tr>
            <td>Summe Istproduktion</td>
            <span th:each="day: ${businessDays}" >
                <td th:utext="${day.getSumOfActualDailyProduction()}"></td>
            </span>
        </tr>


    </table>
</div>






</body>
</html>