<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sales</title>
</head>
<body>

    <form method="POST" th:action="@{/sales}" th:object="${salesRequest}">

        Ankunftsdatum beim Kunden: <input type="date" th:field="*{customerDeliveryDate}" />
        <br>

        Fahrrad:
        <select th:field="*{bike}">
            <option th:each="bike : ${bikes}" th:value="${bike.name}" th:text="${bike.name}">
            </option>
        </select>
        <br>

        Kundenland:
        <select th:field="*{country}">
            <option th:each="country : ${countries}" th:value="${country}" th:text="${country}">
            </option>
        </select>
        <br>

        Anzahl:
        <input type="number" th:field="*{amount}">

        <button type="submit" name="submit" value="value">This is a link that sends a POST request</button>


    </form>

</body>
</html>