<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sales</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
          integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <style>
        .smallerDiv {
            float: left;
            margin: auto;
            padding: 20px;
            width: 45%;
        }

        a {
            color: aliceblue;
        }

        a:hover {
            color: darkgray;
            border-top: 3px solid aliceblue;
            padding-top: 5px;
            text-decoration: none;
        }
    </style>
</head>
<body>
<div>
    <div th:replace="fragments/menu :: Menu"></div>
</div>
<div class="container">
    <br>
    <h1>Sales</h1>
    <br>
    <form method="POST" th:action="@{/sales}" th:object="${salesRequest}">
        <div class="smallerDiv">
            <label>Fahrrad:</label>
            <span th:each="bike: ${bikes}">
            <span th:utext="${bike.name}"></span>
            <input class="form-control" type="number" th:field="*{bikeMap[__${bike.name}__]}" required/>
        </span>
        </div>
        <div class="smallerDiv">
            <label>Kundenland:</label>
            <select class="form-control" th:field="*{country}">
                <option th:each="country : ${countries}" th:value="${country}" th:text="${country}">
                </option>
            </select>

            <label>Hat Prio:</label>
            <select class="form-control" th:field="*{prio}">
                <option value="true">Ja
                </option>
                <option value="false">Nein
                </option>
            </select>

            <label>Platzierungsdatum:</label>
            <input class="form-control" type="date" th:field="*{placementDate}" required/>

            <label>Ankunftsdatum beim Kunden:</label>
            <input class="form-control" type="date" th:field="*{customerDeliveryDate}" required/>
            <br>
            <button class="btn btn-success" type="submit" name="submit" value="value">Bestellung aufgeben</button>
        </div>
    </form>
</div>
<div th:replace="fragments/scripts :: script"></div>
</body>
</html>