<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sales</title>
</head>
<body>

    <form method="POST" th:action="@{/sales}" th:object="${salesRequest}">

        Platzierungsdatum: <input type="date" th:field="*{placementDate}" />
        <br>
        Ankunftsdatum beim Kunden: <input type="date" th:field="*{customerDeliveryDate}" />
        <br>

        Fahrrad:

        <span th:each="bike: ${bikes}">
            <span th:utext="${bike.name}" ></span>
            <input type="number" th:field="*{bikeMap[__${bike.name}__]}" />
            <br>
        </span>


        Kundenland:
        <select th:field="*{country}">
            <option th:each="country : ${countries}" th:value="${country}" th:text="${country}">
            </option>
        </select>
        <br>


        <button type="submit" name="submit" value="value">This is a link that sends a POST request</button>


    </form>

</body>
</html>