<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
          integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">

    <style>
        #warehouseDiv {
            font-family: "Times New Roman";
        }

        #dtHorizontalVerticalExample th, td {
            white-space: nowrap;
        }

        .smallerDiv {
            float: left;
            margin: auto;
            padding: 2px;
            width: 35%;
        }
    </style>
    <meta charset="UTF-8">
    <title>Warehouse</title>
</head>
<body>

<div id="warehouseDiv">
    <table id="dtHorizontalVerticalExample" class="table table-striped table-bordered table-sm" cellspacing="0"
           width="100%" border="1">
        <tr>
            <th>Woche</th>
            <td colspan="7" th:each="week: ${businessWeeks}">
                <span th:utext="|${week.getCalendarWeek()}|"></span>
            </td>
        </tr>
        <tr>
            <th>Datum</th>
            <td th:each="bd: ${businessDays}">
                <p th:each="entry: ${bd.getWorkingDays()}">
                        <span th:if="${entry.getKey() == T(de.adventureworks.produktionsplanung.model.entities.external.Country).GERMANY}">
                                <span th:if="${entry.getValue()}">
                                    <span style="color:red" th:utext="${bd.getDate()}"></span>
                                </span>
                                <span th:unless="${entry.getValue()}">
                                    <span style="color:black" th:utext="${bd.getDate()}"></span>
                                </span>
                        </span>

                </p>

            </td>
        </tr>

        <tr th:each="component: ${components}">
            <th>
                <span th:utext="${component.name}"></span>
            </th>
            <td th:each="bd2: ${businessDays}">
                <span th:utext="|${bd2.warehouseStock.get(component)}|"></span>
            </td>
        </tr>
    </table>
</div>
</br>


<div class="smallerDiv container">
    <form class="form-group form-control-sm" method="POST" th:action="@{/warehouse}" th:object="${warehouseRequest}">
        <div class="form-group form-control-sm">
            <span>Datum:</span>
            <input type="date" th:field="*{date}" class="form-control" required/>
            <span th:each="component: ${components}">
                        <span th:utext="${component.name}"></span>:
                        <input type="number" th:field="*{warehouseMap[__${component.name}__]}" class="form-control" required/>
                </span>
            </br>
            <button type="submit" class="btn btn-primary" name="submit" value="value">Change Components</button>
            </br>
            </br>
        </div>
    </form>
</div>
</body>
</html>