<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Warehouse</title>
</head>
<body>

    <div th:with="components = ${components}">
        <table>
            <td th:each="week: ${businessWeeks}">
                <tr>
                    <th th:text="${week.calendarWeek}"></th>
                </tr>
                <table th:each="day: ${week.getDays()}">
                    <tr th:each="component = ${components}">
                        <td><span th:utext="|${day.getWarehouseStok().get(component)}|"></span></td>
                    </tr>
                </table>
            </td>
        </table>
    </div>
</body>
</html>