<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
          integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <style>
        #warehouseDiv {
            font-family: "Times New Roman";
        }

        #tblWareHouse th, td {
            white-space: nowrap;
        }
        .smallerDiv {
            float: left;
            margin: auto;
            padding: 2px;
            width: 35%;
        }
        a{
            color: aliceblue;
        }
        a:hover {
            color: darkgray;
            border-top: 3px solid aliceblue;
            padding-top: 5px;
            text-decoration: none;
        }
        #btnSave{
            width:100px;
        }
    </style>
    <meta charset="UTF-8">
    <title>Lager</title>
</head>
<body>
<div>
    <div th:replace="fragments/menu :: Menu"></div>
</div>

<br>
<br>
<br>
<h1>Lager</h1>
<br>
<div id="warehouseDiv" style="overflow-y: scroll;">
    <table id="tblWareHouse" class="table table-striped table-bordered table-sm" cellspacing="0"
           width="100%" border="1">
        <tr>
            <th>Woche</th>
            <td colspan="7" th:each="week: ${businessWeeks}">
                <span th:utext="|${week.getCalendarWeek()}|"></span>
            </td>
        </tr>
        <tr>
            <th>Datum</th>
            <td></td>
            <td th:each="bd: ${businessDays}">
                <p th:each="entry: ${bd.getWorkingDays()}">
                        <span th:if="${entry.getKey() == T(de.adventureworks.produktionsplanung.model.entities.external.Country).GERMANY}">
                                <span th:if="${entry.getValue()}">
                                    <span style="color:red" th:utext="${bd.getDate()}"></span>
                                </span>
                                <span th:unless="${entry.getValue()}">
                                    <span style="color:black" th:utext="${bd.getDate()}"></span>
                                </span>
                        </span>

                </p>

            </td>
        </tr>

        <span th:each="component: ${components}">
        <tr >
            <th>
                <span th:utext="${component.name}"></span>
            </th>
            <td>Nach Lieferungen</td>
            <td th:each="bd2: ${businessDays}">
                <div style="background-color:#f06e01" th:if="${bd2.beforeProductionWarehouseStock.get(component) < 20} and ${bd2.warehouseStock.get(component) != 0}">
                    <span  th:utext="${bd2.beforeProductionWarehouseStock.get(component)}"></span>
                </div>

                <div style="background-color:#fd003b" th:if="${bd2.beforeProductionWarehouseStock.get(component) == 0}">
                    <span  th:utext="${bd2.beforeProductionWarehouseStock.get(component)}"></span>
                </div>
                <div style="background-color:#98eb98" th:if="${bd2.beforeProductionWarehouseStock.get(component) >= 20 }">
                    <span  th:utext="${bd2.beforeProductionWarehouseStock.get(component)}"></span>
                </div>


            </td>
        </tr>
        <tr>
            <td></td><td>Nach Produktion</td>
            <td th:each="bd2: ${businessDays}">
                <div style="background-color:#f06e01" th:if="${bd2.warehouseStock.get(component) < 20} and ${bd2.warehouseStock.get(component) != 0}">
                    <span  th:utext="${bd2.warehouseStock.get(component)}"></span>
                </div>

                <div style="background-color:#fd003b" th:if="${bd2.warehouseStock.get(component) == 0}">
                    <span  th:utext="${bd2.warehouseStock.get(component)}"></span>
                </div>
                <div style="background-color:#98eb98" th:if="${bd2.warehouseStock.get(component) >= 20 }">
                    <span  th:utext="${bd2.warehouseStock.get(component)}"></span>
                </div>


            </td>
        </tr>
        </span>
    </table>
</div>
</br>

<h2>Lager bearbeiten</h2>

<div class="smallerDiv container">
    <form class="form-group form-control-sm" method="POST" th:action="@{/warehouse}" th:object="${warehouseRequest}">
        <div class="form-group form-control-sm">
            <span>Datum:</span>
            <input type="date" th:field="*{date}" class="form-control" required/>
            <span th:each="component: ${components}">
                        <span th:utext="${component.name}"></span>:
                        <input type="number" th:field="*{warehouseMap[__${component.name}__]}" class="form-control" required/>
                </span>
            </br>
            <button id="btnSave" type="submit" name="submit" class="btn btn-dark" value="value"><i class="far fa-save fa-2x"></i></button>
            </br>
            </br>
        </div>
    </form>
</div>
<div th:replace="fragments/scripts :: script"></div>
</body>
</html>